<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Blog Project</a>
        <ul class="navbar-nav me-auto">
            <li class="navbar-item">
                <a routerLink="/articles" routerLinkActive="active"class="nav-link">Articles</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/contact" routerLinkActive="active"
                class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>